doctype html
html(lang="en")
  head
    title= 'Result'
  body
    h1 Your Playlist's Length
    p At 1.00x : #{speed100}
    p At 1.25x : #{speed125}
    p At 1.50x : #{speed150}
    p At 1.75x : #{speed175}
    p At 2.00x : #{speed200}